useDynLib("creNet")

import(dplyr)
import(glmnet)
import(fdrtool)
import(optparse)
importFrom(Biobase, pData, 'pData<-', phenoData, exprs)
importFrom(limma, lmFit, eBayes, topTable)
importFrom(affy, ReadAffy, mas5calls, rma)
importFrom(parallel, mclapply, mcmapply)
importFrom(QuaternaryProd, QP_Pvalue)

export(accuracy, creFilter, cvSGL, getRegulatorSliceIndex, matchDataToKb, matchTrainTest,cvGlmnet,
       reportResults,nested.accuracy,nested.cvGlmnet, nested.cvSGL, predict.creNet, remConstCols, 
       SGL, standardize, roc, processKB, processDataAndKB, nested.reportResults, reportNovelResults)

S3method("plot","cv.creNet")
S3method("predict","creNet")
